<main>
  <h1 class="mb-4"><em class="badge rounded-pill text-bg-info">{{name}}</em></h1>
  <hr>
   <div>
    {{#with users}}
      <section>
        <h3 class="mb-4"><em>User:</em></h3>
        
        {{#with [0]}}
          {{> user data=id data=name data=gender data=age}}
          <hr>

          <div class="mb-5">
            <ul>
              <h4><em class="badge text-bg-success">Friends:</em></h4>
              {{#with friends}}

                {{#with [0]}}
                  {{> user data=id data=name data=gender data=age userLine=true}}

                  <ul>
                    <h5><em class="badge text-bg-light">Mutual friends:</em></h5>
                    {{#with mutual_friends}}
                      {{#with [0]}}
                        {{> user data=id data=name data=gender data=age userLine=true}}
                      {{/with}}
                    {{/with}}
                  </ul>

                {{/with}}

                {{#with [1]}}
                  {{> user data=id data=naem data=gender data=age userLine=true}}

                  <ul>
                    <h5 class="mb-3"><em class="badge text-bg-light">Mutual friends:</em></h5>
                    {{#with mutual_friends}}
                      {{#with [0]}}
                        {{> user data=id data=naem data=gender data=age }}
                      {{/with}}
                    {{/with}}
                  </ul>

                {{/with}}

              {{/with}}
            </ul> <hr>
          </div>

          <div>
            <h3 class="mb-4"><em class="badge text-bg-primary">Groups:</em></h3>
            
            {{#with groups}}
              {{#with [0]}}
                <div>
                  <ul>
                    <li class="mb-4">
                      <div>{{id}}</div>
                      <div>{{name}}</div>
                      <div>{{description}}</div>
                    </li> <hr>

                    <div class="mb-4">
                      <h4><em class="badge text-bg-light">Members:</em></h4>
                      {{#with members}}

                        {{#with [0]}}
                          {{> user data=id data=naem data=gender data=age}}
                        {{/with}}

                      {{/with}}
                    </div> <hr>
                  </ul>
                </div>
                
              {{/with}}

              {{#with [1]}}
                <div>
                  <ul>
                    <li class="mb-4">
                      <div>{{id}}</div>
                      <div>{{name}}</div>
                      <div>{{description}}</div>
                    </li>

                    <div>
                      <h4><em class="badge text-bg-light">Members:</em></h4>
                      {{#with members}}

                        {{#with [0]}}
                          {{> user data=id data=naem data=gender data=age userLine=true}}
                        {{/with}}
                        <br> 

                        {{#with [1]}}
                          {{> user data=id data=naem data=gender data=age}}
                        {{/with}}

                      {{/with}}
                      <br>
                    </div>
                  </ul>
                </div>
              {{/with}}

            {{/with}}
          </div>
          <hr>
        {{/with}}
      </section>



      <section>
        <h3 class="mb-4"><em>User 2:</em></h3>
        
        {{#with [1]}}
        {{> user data=id data=name data=gender data=age}}
        
        <hr>
      
        <div>
          <ul>
            <h4><em class="badge text-bg-success">Friends:</em></h4>
            {{#with friends}}
      
              {{#with [0]}}
                {{> user data=id data=name data=gender data=age userLine=true}}
        
                <ul class="mb-4">
                  <h5><em class="badge text-bg-light">Mutual friends:</em></h5>
                  {{#with mutual_friends}}

                    {{#with [0]}}
                      {{> user data=id data=name data=gender data=age userLine=true}}
                    {{/with}}

                    {{#with [1]}}
                      {{> user data=id data=name data=gender data=age userLine=true}}

                      <div>
                        <ul>
                          <h5><em class="badge text-bg-light">Mutual friends:</em></h5>
                          {{#with mutual_friends}}
                            {{#with [0]}}
                              {{> user data=id data=name data=gender data=age }}
                            {{/with}}
                          {{/with}}
                        </ul>
                      </div>

                    {{/with}}
                  {{/with}}
                </ul> <hr>

                <div>
                  <h4 class="mb-4"><em class="badge text-bg-primary">Groups:</em></h4>
                  
                  <div>
                    {{#with groups}}
                      <div class="mb-4">
                        {{#with [0]}}
                          <ul>
                            <div>{{id}}</div>
                            <div>{{name}}</div>
                            <div>{{description}}</div>
                            <hr>

                            <div>
                              <ul>
                                <h5><em class="badge text-bg-light">Members:</em></h5>
                                {{#with members}}
                                {{#with [0]}}
                                {{> user data=id data=name data=gender data=age userLine=true}}
                                {{/with}}
                                {{/with}}
                              </ul>
                            </div>
                          </ul>
                        {{/with}}
                      </div>

                      <div class="mb-4">
                        {{#with [1]}}
                          <ul>
                            <div>{{id}}</div>
                            <div>{{name}}</div>
                            <div>{{description}}</div>
                            <hr>
                            
                            <div>
                              <ul>
                                <h5><em class="badge text-bg-light">Members:</em></h5>
                                {{#with members}}
                                  {{#with [0]}}
                                    {{> user data=id data=name data=gender data=age userLine=true}}
                                  {{/with}}

                                  {{#with [1]}}
                                    {{> user data=id data=name data=gender data=age }}
                                  {{/with}}

                                {{/with}}
                              </ul>
                            </div>
                          </ul>
                        {{/with}}
                      </div>
                      <hr>
                    {{/with}}
                  </div>
                </div>
              {{/with}}  
            {{/with}}
          </ul> 
        </div>
        {{/with}}
      </section>
    {{/with}}
   </div>
</main>