<div>
  <h1 class="mb-5"><em class="text-primary-emphasis">{{name}}</em></h1>
  <hr>
  <div>
    <ul>
      <div class="text-secondary">{{price}}</div>
      <div class="text-secondary">{{description}}</div>
      <div class="text-secondary">{{category}}</div> <hr>

      {{#with features}}
        <section>
            <ul> 
              <li>
                <div>
                  {{#each processor}}
                  {{this}} {{> line line=true}}
                  {{/each}}
                </div>
              </li>
            </ul>
        </section>

        <section>
            <ul>
              <li>
                <div>
                  {{#each memory}}
                  {{this}} {{> line line=true}}
                  {{/each}}
                </div>
              </li>
            </ul>
        </section>

        <section>
            <ul>
              <li>
                <div>
                  {{#each storage}}
                  {{this}} {{> line line=true}}
                  {{/each}}
                </div>
              </li>
            </ul>
        </section>

        <section>
            <ul>
              <li>
                <div>
                  {{#each display}}
                  {{this}} {{> line line=true}}
                  {{/each}}
                </div>
              </li>
            </ul>
        </section>

        <section>
            <ul>
              <li>
                <div>
                  {{#each graphics}}
                  {{this}} {{> line line=true}}
                  {{/each}}
                </div>
              </li>
            </ul>
        </section>

        <section>
          {{#with ports}}
            <ul>
              <hr>
              <div class="mb-3">
                {{#with [0]}}
                  <ul>
                    <li class="mb-2">
                      <div>{{type}} / {{count}}</div>
                    </li>

                    <div>
                      {{#each features}}
                        <ul>
                          <li>
                            <div>{{this}}</div>
                          </li>
                        </ul>
                      {{/each}}
                    </div>
                  </ul>
                {{/with}}
              </div>

              <div>
                {{#with [1]}}
                  <ul>
                    <li>
                      <div>{{type}}</div>
                      <div>{{count}}</div>
                    </li>
                  </ul>
                {{/with}}
              </div>
              <hr>
            </ul>
          {{/with}}
        </section>

        <section>
            <ul>
              <li>
                <div>
                  {{#each battery}}
                  {{this}} {{> line line=true}}
                  {{/each}}
                </div>
              </li>
            </ul>
        </section>

        <section>
            <ul>
              <li>
                <div>{{weight}}</div>
              </li>
            </ul>
        </section>

        <section>
            <ul>
              <li>
                <div>
                  {{#each dimensions}}
                  {{this}} {{> line line=true}}
                  {{/each}}
                </div>
              </li>
            </ul>
        </section>

        <section>
          <ul>
            <li>
              <div>{{operating_system}}</div>
            </li>
          </ul>
        </section> <hr>

        <section>
         
            {{#each accessories}}
            <div class="mb-4">
            <ul>
              <li>
                <div>{{name}}</div>
                <div>{{price}}</div>
              </li>
            </ul>
            </div>
            {{/each}}
        </section>
      {{/with}}
    </ul>
  </div>
</div>