<div class="card mb-5">
  <div class="card-body">

    <div class="card">
      <div class="p-3">
        {{#with title}}
        <h5>{{userName}}</h5>
        <p>{{caption}}</p>
        <div>{{date}}</div>
        {{/with}}
      </div>
      <hr>

      {{#with reviewBody}}
      <div class="p-3">

        {{#with seller}}
        <p>{{title}}: {{value}}</p>
        {{/with}}

        {{#with rating}}
        <p>{{title}}: {{value}}</p>
        {{/with}}

        {{#each text}}
        <p>{{this}}</p>
        {{/each}}

        {{#with advantages}}
        <div>
          <b>{{title}}:</b>
          <p>{{text}}</p>
        </div>
        {{/with}}

        {{#with disadvantages}}
        <div class="mb-4">
          <b>{{title}}:</b>
          <p>{{text}}</p>
        </div>
        {{/with}}

        <div>
          {{#each images}}
          <img src="{{this}}" alt="Foto">
          {{/each}}
        </div>

      </div>
      {{/with}}
    </div>
  </div>

  {{#each reviewBody.coments}}
  <div class="card mb-3 col-11 ms-5">
    <div class="card-body ">
      <h5>{{userName}}</h5>
      <div>{{date}}</div>
      <p>{{text}}</p>
    </div>
  </div>
  {{/each}}

</div>